/* smooth scrolling */

html{
    scroll-behavior: smooth;
}

/* navbar -section */
#navbar{
    flex-direction: column;
    position:sticky;
    top: 0px;
    z-index: 2;
}

#navbar ul{
    margin-bottom: 20px;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 14.5px;
}

/* home-section */

#home{
    height: 370px;
}

#home p{
    font-size: 1rem;
    width: 100%;
}

#home::before{
    height: 795px;
}

/* services section */

#service-container{
    height: 587px;
}

#service{
    flex-direction: column;
}



#service .box{
    width: auto;
    padding: 1px 12px;
    margin: 10px 20px;
}

#service .box img{
    height: 70px;
}

#service .box p{
    font-size: 0.7rem;
}


/* client section */

#client-section{
    height: 254px;
}

.clients{
 flex-wrap: wrap;
}

.clients-name{
    padding: 20px;
    margin: 10px;
}

.clients .clients-name img{
 height: 80px;
}

/* contact us */
#contact{
    display: flex;
    flex-direction: column;
    height: 400px;
}

#contact:before{
    height: 475px;
}
textarea{
    height: 80px;
    width: 64.5%;
}

/* footer */

footer{
    font-size: 1rem;
    margin-top: 52px;
}

/* utility classes */

.h1-primary{
    font-size: 1.8rem;
}

.h2-secondary{
    padding: 0px;
    font-size: 1rem;
}

.btn{
    padding: 8px 15px;
    font-size: 1rem;
    border-radius: 10px;
}


/* For rare phone models */
 
/* for Galaxy fold */

@media only screen and (max-width:350px){
    #navbar ul li a{
        font-size: 0.7rem;
        padding: 5px 11px;
    }
}


